.navbar-inner
  .container
    ul.nav(role="navigation")
      li.desktop-hidden.phone-display
        a.dropdown-toggle.home-btn(role="button",href="/") Home
      li.dropdown
        a.dropdown-toggle(role="button", data-toggle="dropdown")
          | About
          b.caret
        ul.dropdown-menu.about-menu(role="menu")
          li
            a(data-behavior="how-to-use", href='/about#how-to-use')
              | How do I use Eat Now?
          li
            a(data-behavior="our-data", href='/about#our-data')
              | Where do we get our data?
          li
            a(data-behavior="how-to-register", href='/about#register')
              | Register your restaurant...  
      li.dropdown
        a.dropdown-toggle(role="button", data-toggle="dropdown")
          | Search
          b.caret
        ul.dropdown-menu.search-and-filter-menu(role="menu")
          //
            li
              select
                option Filter by Neighborhood
                option Neighb 1
                option Neighb 2
                option Neighb 3
            li
              select
                option Filter by Cuisine
                option Cuisine 1
                option Cuisine 2
                option Cuisine 3
            li.divider
          li.search-bar
            input.search-query(type="text", placeholder="Search...")