doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    
    meta(property="og:image", content="http://www.eatnownola.com/img/screenshot.jpg")
    meta(property="og:title", content="Eat Now Nola")
    meta(property="og:url", content="http://www.eatnownola.com")
    meta(property="og:site_name", content="Eat Now Nola")

    link(href="/img/favicon.ico", rel="icon")
    title= title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald', rel='stylesheet', type='text/css')
    != css('client')


  body
    block content
    != jadeTemplates()
    != js('client')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37698412-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
