@import "bootstrap/bootstrap";
@import "font-awesome";

@radius: 10px;

@tile-width: 315px;

@full: #f34f4f;
@long: #f09512;
@short: #e7dd38;
@none: #b9d031;
@no-data: #f1f1f1;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url(/img/background.png);
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  padding: 0;
  height: 100%;
}

hr {
  height: 1px;
  background-color: #d1d1d1;
  margin: 0;
}

.content-wrapper {
  height: 100%;
}

.top-bar {
  #gradient > .vertical(#8b281e, darken(#8b281e, 3%));
  .box-shadow(0 1px 4px 0px rgba(0,0,0, 0.3));

  min-width: 375px;
  text-align: center;
  color: white;
  font-size: 28px;

  width: 100%;
  height: 65px;
  margin: 0;
  padding-top:5px;
  position: relative;
  
  .btn-link {
    color:white;
    text-shadow: none;   

    &:hover{
      color:white;
      text-decoration: none;
      
      .btn-text {border-bottom: 1px solid white;}
    }
     
  }
}

.update-position-btn {
  position:absolute;
  top:50%;
  margin-top:-13px;
  left:12px;
}

.about-btn {  
  position:absolute;
  top:50%;
  margin-top:-15px;
  right:12px;
  .btn-text {border-bottom:1px dotted white;}
  
  i {
    margin: 0px 0px 0px 7px;    
  }
}

.about-menu {
  #gradient > .vertical(darken(#8b281e, 3%), #8b281e);
  list-style: none;
  
  position: absolute;
  top:65px;
  right:0px;
  z-index: 100;
  padding:0;
  margin:0;
  
  li  {
    width:100%;
    display: block;
  }
  
  a {
    margin:7px;
    
    &:hover {
      background-color: lighten(#8b281e, 12%)
    }
  }
    
}

.btn [class^="icon-"] {
  margin-right:7px;
}

.find-food-btn {
  .box-shadow(0 1px 7px 0px rgba(0,0,0, 0.3));
  .border-radius(@radius);

  font-size: 18px;
  line-height: normal;

  min-width:@tile-width;
  padding: 8px 24px;
  margin:20px 0 0 20px;
}

.hidden {display: none;}

.resto-tiles {
  text-align: center;
}

.resto-tile {
  .box-shadow(0 1px 6px 0px rgba(0,0,0, 0.15));
  .border-radius(@radius);

  background-color: #fff;
  border: 1px solid #c0bfc0;

  position: relative;
  width: @tile-width;
  margin: 30px 30px;
  list-style: none;
  display: inline-block;

  header {
    position: relative;

    .resto-image {
      // background: url(../img/large-placeholder.gif) no-repeat center top;

      height: 184px;
      overflow: hidden;
    }
    img {
      .border-top-left-radius(@radius);
      .border-top-right-radius(@radius);
    }
  }

  h3 {
    .border-radius(@radius - 5);

    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    background-color: rgba(0,0,0,0.6);
    color: #fff;

    display: inline-block;
    padding: 2px 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    line-height: 30px;
  }

  .contents {
    padding: 5px;
    
    height:185px;
  }

  .info {
    .clearfix();

    padding: 0 10px;
    margin-top: 15px;
    max-height:70px;
  }

  .cuisine-tags {
    font-size: 14px;
    text-align: left;
		font-style: italic;
		font-weight: bold;
		
		margin-bottom:3px;
  }

  .details {

    height:70px;
    .description {
      font-size: 14px;
      text-align: left;

      margin-bottom: 20px;
      max-height: 100%;
      overflow: hidden;
    }

    .address {
      font-size: 12px;
    }
  }

  .link-buttons {
    // margin-bottom: 15px;

    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 30px;
  }

  .links {
    .clearfix();
    text-align: center;

    .link {
      padding: 0px 5px 8px 5px;
      display: inline-block;
    }

    .btn {
      font-size: 12px;
    }
  }

  .wait-color {
    /* -webkit-transition: background-color 0.5s linear; */
    /* -moz-transition: background-color 0.5s linear; */
    /* -o-transition: background-color 0.5s linear; */
    /* transition: background-color 0.5s linear; */

    font-size: 11px;
    font-style: italic;
    text-align: right;

    padding-right: 12px;
    height: 20px;

    &.full { background-color: @full };
    &.long { background-color: @long };
    &.short { background-color: @short };
    &.none { background-color: @none };
    &.no-data {background-color: @no-data};
    
    .resto-verified {display: none;}
  }

  .wait-time {
    text-align: center;
    font-size: 32px;

    margin: 12px 0;
  }

  .rating-wrapper {
    position: relative;
  }

  .toggle-graph-btn {
    @bgColor : #f1f1f1;
    background-color: @bgColor;
    background-image:none;
    font-size:10px;
    line-height: 16px;
    .border-radius(0px);
    .box-shadow(0 1px 2px 0px rgba(0,0,0,.2));

    padding: 0px 0px;
    width:90%;

    // Hover state
    &:hover {
      text-decoration: none;
      background-color: darken(@bgColor, 2%);
      *background-color: darken(@bgColor, 8%); /* Buttons in IE7 don't get borders, so darken on hover */
      background-position: 0 -15px;
  
      // transition is only when going to hover, otherwise the background
      // behind the gradient (there for IE<=9 fallback) gets mismatched
      .transition(background-color .1s linear);
    }


    
    .btn-text {font-size:10px;}
    i {
      color:#888;
      margin: 0px 0px 0px 7px;
    }
  }

  .mini-title {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .graph {
    margin:0;
    list-style: none;
    
    .bar-wrapper {
      display: inline-block;
      text-align: center;
      position: relative;

      width:25%;
      height:40px;
      
      .bar {
        .box-shadow(0 1px 0px 0px rgba(255,255,255,.4) inset);
  
/*
        border-color: hsl(117, 43%, 18%);
        border-width: 1px;
        border-right-width: 0px;
        border-style: solid;
*/
        border:none;
        margin:auto;
        position: absolute;
        bottom:0;
        left:25%;
  
        width: 40px;
        min-height:2px;
        transition: height 0.5s ease-in-out;
        -moz-transition: height 0.5s ease-in-out; /* FF 4 */
        -webkit-transition: height 0.5s ease-in-out; /* Safari & Chrome */
        -o-transition: height 0.5s ease-in-out; /* Opera */
  
      }

    }
    
  }

  .graph-wrapper {
    display: none;

    margin: 15px 15px 0px;

    .graph-labels{
      list-style: none;
      
      margin:0;
    
      .label {
        display: inline-block;
        
        width:25%;
        color:gray;
        background:white;
        text-shadow:none;
        
      }
      
    }

    .stripes {
      background: url(/img/stripe.png) repeat-x center top;

      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 10px;
    }

    .none {
      #gradient > .vertical(@none, darken(@none, 7%));

      border-color: darken(@none, 15%);
    }

    .short {
      #gradient > .vertical(@short, darken(@short, 7%));

      border-color: darken(@short, 18%);
    }

    .long {
      #gradient > .vertical(@long, darken(@long, 7%));

      border-color: darken(@long, 15%);
    }

    .full {

      #gradient > .vertical(@full, darken(@full, 7%));

      border-color: darken(@full, 15%);
      border-right-width: 1px;
    }
  }

  footer{
    .box-shadow(0px 1px 0 0 rgba(255,255,255,0.9) inset);
    .border-bottom-left-radius(@radius);
    .border-bottom-right-radius(@radius);

    background: #f1f1f1;
    border-top: 1px solid #d2d2d2;

    padding:5px 0 10px 0;
    position: relative;
  }

  .choices-title {
    margin-bottom: 5px;
  }

  .choices {
    text-align: center;

    .btn {
      padding: 3px 10px;
      margin: 0px 4px;
    }

    [class^="icon-"] {
      .box-shadow(0 1px 0px 0px rgba(255,255,255,.4) inset);
      .border-radius(30px);

      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: -1px;
      margin-right: 3px;
    }

    .icon-full-circle {
      #gradient > .vertical(@full, darken(@full, 7%));

      border: 1px solid darken(@full, 10%);
    }

    .icon-long-circle {
      #gradient > .vertical(@long, darken(@long, 7%));

      border: 1px solid darken(@long, 10%);
    }

    .icon-short-circle {
      #gradient > .vertical(@short, darken(@short, 7%));

      border: 1px solid darken(@short, 10%);
    }

    .icon-none-circle {
      #gradient > .vertical(@none, darken(@none, 7%));

      border: 1px solid darken(@none, 10%);
    }
  }
}


@import "bootstrap/responsive";
@import "client-responsive";
