@import "bootstrap/bootstrap";
@import "font-awesome";

@radius: 10px;

@unknown: #f34f4f;
@long-wait: #f09512;
@short-wait: #f3ed54;
@no-wait: #b9d031;


* {
  box-sizing: border-box;
}

body {
  background: url(/img/background.png);

  font-family: 'Proxima Nova';
}

#top-bar {
  text-align: center;
  background: white;
  color: #0fabbd;
  font-size: 28px;
  border-bottom: 1px solid gray;

  width: 100%;
  height: 55px;
  margin: 0;
}

.resto-tiles {
  margin: 0;
}

.resto-tile {
  .box-shadow(0 1px 7px 0px rgba(0,0,0, 0.3));
  .border-radius(@radius);

  background-color: #fff;
  border: 1px solid #c0bfc0;

  position: relative;
  margin: 20px;
  width: 315px;
  list-style: none;

  header {
    img {
      .border-top-left-radius(@radius);
      .border-top-right-radius(@radius);
    }
  }

  h3 {
    .border-radius(@radius - 5);

    font-size: 16px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;

    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    line-height: 18px;
  }

  .contents {
    padding: 5px;
  }

  .info {
    .clearfix();

    margin-bottom: 15px;
  }

  .details {
    float: left;
    width: 190px;

    .description {
      font-size: 12px;
    }

    .address {
      font-size: 12px;
    }
  }

  .links {
    float: right;
    list-style-type: none;

    .link {
      margin: 5px 0px;
    }
  }

  .wait-time {
    text-align: center;
    color: darken(@short-wait, 25%);
    font-size: 24px;

    margin: 10px 0px;
  }

  footer{
    .border-bottom-left-radius(@radius);
    .border-bottom-right-radius(@radius);

    background: #f1f1f1;
    border-top: 1px solid white;

    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
    padding:5px;
  }

  .choices {
    .btn {
      padding: 0px 5px;
    }
  }
}


@import "bootstrap/responsive";
