@media (max-width: 979px) {
  .about-page {width:100%;}
}

/* @media (max-width: 767px) { */
@media (max-width: 615px) {

  h1 {font-size:32px;}
  h3 {font-size:19px;}
  
  .desktop-hidden.phone-display {display: inherit;}

  .top-bar {
/*     height:100px; */
    .box-shadow(0 1px 4px 0px rgba(0,0,0, 0.8));

    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    padding-top:3px;
    background-image: none;
       
    .about-btn {
      font-size: 12px;
      
      bottom:7px;
      top:auto;
    }
  }
  
  #screw-bootstrap.navbar {
    margin-top:5px;
    
    .navbar-inner {
      min-height: 1px;
      padding:0 0 0 5px;
    }
    
    li > a {
      padding:5px 10px;
    }
    
  }
    
  .resto-tiles{padding-top:50px;}
  
  .about-wrapper {padding-top:50px;}
  .about-page {margin-top:12px;}
  
  .logo-inline {
    max-width: 55%;
    height:auto;
  }
    
}
