extends ../layout

block content
  header.top-bar
    img.logo(src='/img/eat-now-logo.png')
    img.logo-small.hidden(src='/img/eat-now-logo-sm.png')
    form.navbar-search.pull-left
      input.search-query(type="text",placeholder="Search")
    a.btn.btn-link(data-toggle="changeLocation", href="#")
      span.btn-text Test Location Change     
    a.btn.btn-link.about-btn.dropdown-toggle(data-toggle="dropdown", href="#")
      span.btn-text About
      i.icon-caret-down
    ul.about-menu.dropdown-menu(role="menu")
      li.how-to-use-btn
        a.btn.btn-link(data-behavior="how-to-use", href='/about/') How do I use Eat Now?
      li.register-btn
        a.btn.btn-link(data-behavior="how-to-register", href='/about/') Register your restaurant...
        
  .content-wrapper.about-wrapper
    .about-page.span10
      h1 About
        img.logo-inline(src='/img/eat-now-logo-inline-sm.png', alt='Eat Now NOLA')
      .about-sections
        .about-section
          h3 How to use the Web App
          .content
            dl
              dt Searching by name
              dd
                | Click the Search button at the top of the page and type in the name of the restaurant you'd like to search for.
              dt Searching by location
              dd
                | If you choose to share your location with us, we will show you the closest 40 restaurants to you, ordered by distance. You can then choose to resort them by wait time.
              dt Searching by Neighborhood
              dd
                | Want to find a restaurant in a specific neighborhood? Use the Neighborhood dropdown menu and take your pic.
        .about-section
          h3 Our data
          .content
            dl
              dt Where does it come from?
              dd.
                When we have data coming directly from a restaurant, we'll show that. If not, we take all your votes and show you the average.
              dt How to vote
              dd.
                If you are at the restaurant in question, click on the button that best describes the wait time there. You can choose between No Wait, Short Wait (15-30min), Long Wait (30-60min), or Not Seating.
        .about-section      
          h3 Register Your Restaurant
          .content Email us at 
            a(href='mailto:registrar@eatnownola.com', title='Register') Registrar@EatNowNola.com
            |  if you would like to be included in our database.

  ul.location-change-container.clearfix
    li
      a.btn.update-position-btn
        i.icon-repeat
        | Refresh From Your New Location
