extends ../layout

block content
  form.form-inline(action='/restaurants/#{restuarant._id}', method='post')
    input(name='_method', type='hidden', value='put')
    .control-group
      label.control-label Name
      .controls
        input(name='name', type='text', placeholder='Name', value=restuarant.name)


    button.btn.btn-primary Update

