extends ../layout

block content
  header.top-bar.clearfix
    //img.logo(src='/img/eat-now-logo.png', alt="Eat Now! New Orleans")
    a.brand.desktop-hidden.phone-display.logo-small
      img(src='/img/eat-now-logo-sm.png', alt="Eat Now")
    #screw-bootstrap.navbar.navbar-static.pull-left
  .content-wrapper
    ul.unstyled.resto-tiles
    ul.pager
      li.previous.disabled
        a(href="#") Previous
      li.next
        a(href="#") Next

  ul.location-change-container.clearfix
    li
      a.btn.update-position-btn
        i.icon-repeat
        | Refresh From Your New Location
