extends ../layout

block content
  header.top-bar
    img.logo(src='/img/eat-now-logo.png')
  .content-wrapper
    ul.unstyled.resto-tiles
    a.btn.btn-small.update-position-btn
      i.icon-map-marker
      | Update My Position

