extends ../layout

//- var args = [{showDropdown: false}]

block content
  header.top-bar.clearfix
    //img.logo(src='/img/eat-now-logo.png', alt="Eat Now! New Orleans")
    a.brand.desktop-hidden.phone-display.logo-small
      img(src='/img/eat-now-logo-sm.png', alt="Eat Now")
    #screw-bootstrap.navbar.navbar-static.pull-left
      .navbar-inner
        .container
          ul.nav(role="navigation")
            li.dropdown
              a.dropdown-toggle(role="button", data-toggle="dropdown")
                | Filter & Search
                b.caret
              ul.dropdown-menu.search-and-filter-menu(role="menu")
                li
                  select
                    option Filter by Neighborhood
                    option Neighb 1
                    option Neighb 2
                    option Neighb 3
                li
                  select
                    option Filter by Cuisine
                    option Cuisine 1
                    option Cuisine 2
                    option Cuisine 3
                li.divider
                li
                  a Search Box
            li.dropdown
              a.dropdown-toggle(role="button", data-toggle="dropdown")
                | About
                b.caret
              ul.dropdown-menu(role="menu")
                li
                  a(data-behavior="how-to-use", href='/about/')
                    |How do I use Eat Now?
                li
                  a(data-behavior="how-to-register", href='/about/')
                    | Register your restaurant...
  .content-wrapper
    ul.unstyled.resto-tiles
    ul.pager
      li.previous.disabled
        a(href="#") Previous
      li.next
        a(href="#") Next

  ul.location-change-container.clearfix
    li
      a.btn.update-position-btn
        i.icon-repeat
        | Refresh From Your New Location
