extends ../layout

block content
  header.top-bar.clearfix
    //- a.btn(data-toggle="changeLocation") Change Location
    a.logo-link.desktop-display.phone-hidden(href="/", title="Eat Now NOLA Homepage")
      img.logo(src='/img/eat-now-logo.png', alt="Eat Now! New Orleans")
    a.brand.desktop-hidden.phone-display.logo-small
      img(src='/img/eat-now-logo-sm.png', alt="Eat Now")
    #screw-bootstrap.navbar.navbar-static.pull-left
   //- .search-container.desktop-display.phone-hidden
   //-   input.search-query(placeholder="Search...")
  .content-wrapper
    ul.unstyled.resto-tiles
