ul.unstyled.resto-tiles
ul.pager
  li.disabled.swag-previous
    a(href="#") &larr; Prev
  li.swag-next
    a(href="#") Next &rarr;
ul.location-change-container.clearfix
  li
    a.btn.update-position-btn
      i.icon-repeat
      | Refresh From Your New Location
