extends ../layout

block content
  form.form-inline(action='/restaurants/#{restaurant._id}', method='post')
    input(name='_method', type='hidden', value='put')
    .control-group
      label.control-label Name
      .controls
        input(name='name', type='text', placeholder='Name', value=restaurant.name)


    button.btn.btn-primary Update

